<app-topnav></app-topnav>
<section class="px-2">
    <app-search></app-search>

</section>
<main class="h-auto mb-20">
    <div class="container px-2">
        <div class>

        </div>
        <div class="border-2 p-2 rounded-md mb-4">
            <div class="flex justify-between py-2 mb-5">
                <h1 class="text-lg  font-bold py-2">Daily Deals</h1>
                <div class="  filter-section  flex justify-between gap-x-3 ">
                    <div class="border border-green-500 rounded-full flex justify-center items-center p-2">
                        <svg class="w-6 h-6   text-green-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z"/>
                        </svg>
                    </div>

                    <div class="border border-purple-500 rounded-full p-2">
                        <svg class="w-6 h-6 text-purple-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 10 4-6 4 6H8Zm8 4-4 6-4-6h8Z"/>
                        </svg>
                    </div>
                    

                    
                      
                  </div>
            </div>
            <div class="grid grid-cols-2 gap-4 place-items-center">
                <div class="overflow-hidden bg-slate-100  border-2 border-gray-200  shadow-md rounded-lg w-40 h-56 ">


                    <div class="w-full border-4 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSmZb1x6IBW-yR15wUwCzRqfVUyAU2v8KOIedUywsDwEs8GlEaHgAU9Hk4-ivFlfkUt7qlu9RB0dNiPkMR2RDZ2OqVn0OETw7Jlkwkz6eFFnbrH4eKDkHYc&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10  ">
                            <p class="text-sm ">Fair Cape Milk Full Cream (6x1L)</p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R75.99</p>
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden  border-2 bg-slate-100 border-gray-200 shadow-md rounded-lg w-40 h-56  ">

            
                    <div class="w-full border-4 border-white h-36 rounded-b-3xl overflow-hidden ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQXJhWHC0dWMw-umsIBlM5azdVCaLxtHzIoFiFiICcjF8wuKBZFFOopiAxNofeZck9yvutxwS0VTehHfOmBWuWGgW_q1--6fMQeoRgiC4HAEZY_OeVtIu1FvQ&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10  ">
                            <p class="text-sm ">Selati Golden Brown Sugar 2kg</p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R55.10</p>
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden bg-slate-100 border-2 border-gray-200 shadow-md rounded-lg w-40 h-56  ">

                    

                    <div class="w-full border-4 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSWk49BKHQBGhYClgE0Rx6xGEgIFS7djCCooilEfVHbmxi6pnPJxKHwtx-NzXgPxlhsKMMmLVHM58dwK8Xcch5JqbVn2VW_wfbmq77WHfniOCRDG6QNlhdqEw&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10  ">
                            <p class="text-sm ">Albuny Brown Bread Superior 700gr</p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R15.99</p>
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden bg-slate-100  border-2 border-gray-200 shadow-md rounded-lg w-40 h-56  ">

                    

                    <div class="w-full border-2 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTg5KBUZZAH-x7IyBdc6d1Km1uI3gmY36AsVL7ugnKQZp1ed8qr1xwoGeMQPUqazTtooljaM1SGSjjiMcvZUtw9HMqixcNkVXtSx0ST9s6l0CJAqvoyak6XdQ&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10 text-ellipsis overflow-hidden ... ">
                            <p class="text-sm ">Nestle - Nesquick Chocolate Balls Cereal Pouch 250g</p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R47.99</p>
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden bg-slate-100  border-2 border-gray-200 shadow-md rounded-lg w-40 h-56  ">

                    

                    <div class="w-full border-2 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRHh6864EApBr6ZAVRvxBPRHUmVZtj_LT-9V42MF9GGCxm6hq6a3qo7mjVpg8TB1gmBDuI8Ruo-jKR92dGU1Z3LSav-MmmCOt7iKSITyRzpP3MAjGq3BM4f&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10 text-ellipsis overflow-hidden ... ">
                            <p class="text-sm ">Nestle - Ricoffy Coffee 750g</p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R132.99</p>
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden bg-slate-100  border-2 border-gray-200 shadow-md rounded-lg w-40 h-56  ">

                    

                    <div class="w-full border-2 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRmQRcrEs2zggnFgKNhIWPfr1wDgYa2Xmokc65SJF0UFAxWgLk0dtHWeGBZqD9fcEmUK1Vfjp8d-hfpZKxSl-qqcoCl3mhMX9bTnBkexjs7k063hDRwlNd-6Q&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10 text-ellipsis overflow-hidden ... ">
                            <p class="text-sm ">Golden Yolk Eggs 30's Large</p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R67.99</p>
                        </div>
                    </div>
                </div>
          
            </div>
        </div>
        <div class="border-2 p-2 rounded-md mb-4">
            <div class="flex justify-between py-2 mb-5">
                <h1 class="text-lg  font-bold py-2">Cold Beverages</h1>
                <div class="  filter-section  flex justify-between gap-x-3 ">
                    <div class="border border-green-500 rounded-full flex justify-center items-center p-2">
                        <svg class="w-6 h-6   text-green-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z"/>
                        </svg>
                    </div>

                    <div class="border border-purple-500 rounded-full p-2">
                        <svg class="w-6 h-6 text-purple-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 10 4-6 4 6H8Zm8 4-4 6-4-6h8Z"/>
                        </svg>
                    </div>
                    

                    
                      
                  </div>
            </div>

            <div class="grid grid-cols-2 gap-4 place-items-center">
                <div class="overflow-hidden bg-slate-100  border-2 border-gray-200  shadow-md rounded-lg w-40 h-56  ">

                    

                    <div class="w-full border-4 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSa3sHawyP5IPFidQMRRF0zfu-cpeXs0BCgfFmWsISrVsVwC_lidmfPL-f42mAvshWn9IhAIR98qsau-hAGShxpBsQ7iqCXPCewHbkSGyuTTHinsmfb5K6z5w&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10  ">
                            <p class="text-sm ">Coca Cola 300ml Can</p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R7.99</p>
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden bg-slate-100  border-2 border-gray-200  shadow-md rounded-lg w-40 h-56  ">

                    
                    <div class="w-full border-4 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSAVmkegrpHytahyfJCzbStAAB8X4hH340hcko5DRRty9D7gf_C5KhWTeFZ7pKl7ucB2UYRW5Rv1LIFr7axaQeE5tNsBsBL3zjzXC8uNKuyhgF2SknavUQ12g&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10  ">
                            <p class="text-sm ">Energy Sports Drink Blueberry 500ml</p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R15.99</p>
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden bg-slate-100  border-2 border-gray-200  shadow-md rounded-lg w-40 h-56  ">

                    

                    <div class="w-full border-4 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQkPB0H8c_2DBeI1vN5rAzEi8CBL_wmHQl0N4fUCCKfMhQJXWTjnQrlfy0tgSGqmj-Fq7XBT3t-6DUwLl24UNc70GwyhCJf&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10  ">
                            <p class="text-sm ">Switch Energy Drink 500ml Assorted </p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R12.99</p>
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden bg-slate-100  border-2 border-gray-200  shadow-md rounded-lg w-40 h-56  ">

                    

                    <div class="w-full border-4 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcSSZ9k1DZcqaj5WCNLl-44bdM0vZbLAJQnjOomNCR2PXqkjGThufiK5v1QyfURz4jVM6tj_7w7WcUONCzXVBsK9lefSVqvPmNmXtrQQFKPNkWac7iPZVRXz&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10  ">
                            <p class="text-sm ">Liqui Fruit 1l Fruit Juice Blend</p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R21.99</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="border rounded-md bg-purple-500 w-full h-48 my-4">
            <div class="h-full">
                <a class="">
                    <img class="w-full h-full object-cover" src="https://www.checkers.co.za/medias/track-your-savings.webp?context=bWFzdGVyfHJvb3R8MTc3NDh8aW1hZ2Uvd2VicHxoOGUvaGMzLzkwMDEwMTgyOTQzMDIud2VicHw5Mzk2MDRlMmRkNzljNWU1MGVhOTc0MmEyYjU4MWI3NTIyMDE3MjZkMmRlYTcxNzMzMmIwOTA1MDA2NzMyMmJl"><img>
                </a>
            </div>
        </div>

        <div class="border-2 p-2 rounded-md mb-4">
            <div class="flex justify-between py-2 mb-5">
                <h1 class="text-lg  font-bold py-2">Soaps & Deodorants</h1>
                <div class="  filter-section  flex justify-between gap-x-3 ">
                    <div class="border border-green-500 rounded-full flex justify-center items-center p-2">
                        <svg class="w-6 h-6   text-green-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z"/>
                        </svg>
                    </div>

                    <div class="border border-purple-500 rounded-full p-2">
                        <svg class="w-6 h-6 text-purple-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 10 4-6 4 6H8Zm8 4-4 6-4-6h8Z"/>
                        </svg>
                    </div>
                    

                    
                      
                  </div>
            </div>

            <div class="grid grid-cols-2 gap-4 gap-y-6 place-items-center">
                <div class=" bg-slate-100  border-2 border-gray-200  shadow-md rounded-lg w-40 h-56  ">

                    

                    <div class="w-full border-4 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcR6XrQTDk-o2XIAnxkCk7V7aaptSBv-7y1l2pzPsYRO_pgumlk8TWCu4Xv1RD2x3B0R-kfHxu4UiEG0-81LxBptG9jZQjnMIdsHSyR-7sOEo0y-H7njv_g&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10 overflow-hidden ">
                            <p class="text-sm ">Savlon Hygiene Soap 175g Deep Clean</p>
                        </div>
                        <div class=" relative flex justify-between">
                            <p class="text-red-500 text-lg font-bold">R16.99</p> 
                            <div class="border-2 rounded-md bg-purple-500 absolute z-50 -right-4">
                                <svg class="w-10 h-10 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7h-1M8 7h-.688M13 5v4m-2-2h4"/>
                                  </svg>
                                  
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" bg-slate-100  border-2 border-gray-200  shadow-md rounded-lg w-40 h-56  ">

                    

                    <div class="w-full border-4 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQ5f45XlSkw077saxT6iXWOcqL-g7xhxpDku9gswQmYLkjR1OdDpEr5x_iBrq_R-AIU0V96H79mwmj6_574gUiUXtyatQwVKaxzCJ5I7yZ1BU5Eyhd9t8AS&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10 overflow-hidden  ">
                            <p class="text-sm ">Protex Triple Action Mens Soap 175g</p>
                        </div>
                        <div class=" relative flex justify-between ">
                            <p class="text-red-500 text-lg font-bold">R15.95</p>

                            <div class="border-2 border-purple-50 rounded-full bg-purple-500 absolute z-50 -right-4 p-2">
                                <svg class="w-7 h-7  text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7h-1M8 7h-.688M13 5v4m-2-2h4"/>
                                  </svg>
                                  
                            </div>
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden bg-slate-100  border-2 border-gray-200  shadow-md rounded-lg w-40 h-56  ">

                    

                    <div class="w-full border-4 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQ8kF5lbkdqOqCth16zOs_SJHV9VWN-d5GodNBdwSx1TAhhrMu1DcvpXqPIUihHl-7pLEC2WaexfkQOvHZ17n5jIAPLylaCZStD7x4Ms6d67BlwJgRz9cApRw&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10 overflow-hidden  ">
                            <p class="text-sm ">AXE Anti-Perspirant Roll-On Black 50ml </p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R25.99</p>
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden bg-slate-100  border-2 border-gray-200  shadow-md rounded-lg w-40 h-56  ">

                    

                    <div class="w-full border-4 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcT9_JIW0ILhZT9L1nGslWnHbMn3B6idSPA2sXpJdVyqDRhjoOSe1cDYY8-TwhVv7x9HXgtCNpAJ6wWr5RnABmkPShZy-_Dg5WqmStSVGqDFS3eHIZkliphMTQ&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1  ">
                        <div class="relative h-10 overflow-hidden ...  ">
                            <p class="text-sm  ">Driclor Anti-Perspirant Roll-On Applicator 20ml</p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R169.95</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="border rounded-md bg-purple-500 w-full h-48 my-4">
            <div class="h-full flex justify-center items-center">
                <h1 class="text-center text-3xl font-bold text-white">Space Reserved For Ads</h1>
            </div>
        </div>
    </div>
</main>
<app-footer-nav></app-footer-nav>