<app-topnav></app-topnav>
<section></section>
<main class="h-auto mb-16">
    <div class="container px-2">
        <div class="border-2 p-2 rounded-md ">
            <h1 class="my-2 text-lg font-bold">All Products</h1>
            <div class="grid grid-cols-2 gap-4 place-items-center">
                <div class="overflow-hidden bg-slate-50  border-2 border-gray-200  shadow-md rounded-lg w-40 h-56  ">

                    

                    <div class="w-full border-4 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSmZb1x6IBW-yR15wUwCzRqfVUyAU2v8KOIedUywsDwEs8GlEaHgAU9Hk4-ivFlfkUt7qlu9RB0dNiPkMR2RDZ2OqVn0OETw7Jlkwkz6eFFnbrH4eKDkHYc&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10  ">
                            <p class="text-sm ">Fair Cape Milk Full Cream (6x1L)</p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R75.99</p>
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden  border-2 bg-slate-50 border-gray-200 shadow-md rounded-lg w-40 h-56  ">

                    

                    <div class="w-full border-4 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQXJhWHC0dWMw-umsIBlM5azdVCaLxtHzIoFiFiICcjF8wuKBZFFOopiAxNofeZck9yvutxwS0VTehHfOmBWuWGgW_q1--6fMQeoRgiC4HAEZY_OeVtIu1FvQ&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10  ">
                            <p class="text-sm ">Selati Golden Brown Sugar 2kg</p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R55.10</p>
                        </div>
                    </div>
                </div>


                <div class="overflow-hidden bg-slate-50 border-2 border-gray-200 shadow-md rounded-lg w-40 h-56  ">

                    

                    <div class="w-full border-4 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSWk49BKHQBGhYClgE0Rx6xGEgIFS7djCCooilEfVHbmxi6pnPJxKHwtx-NzXgPxlhsKMMmLVHM58dwK8Xcch5JqbVn2VW_wfbmq77WHfniOCRDG6QNlhdqEw&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10  ">
                            <p class="text-sm ">Albuny Brown Bread Superior 700gr</p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R15.99</p>
                        </div>
                    </div>
                </div>


                <div class="overflow-hidden bg-slate-50  border-2 border-gray-200 shadow-md rounded-lg w-40 h-56  ">

                    

                    <div class="w-full border-2 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTg5KBUZZAH-x7IyBdc6d1Km1uI3gmY36AsVL7ugnKQZp1ed8qr1xwoGeMQPUqazTtooljaM1SGSjjiMcvZUtw9HMqixcNkVXtSx0ST9s6l0CJAqvoyak6XdQ&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10 text-ellipsis overflow-hidden ... ">
                            <p class="text-sm ">Nestle - Nesquick Chocolate Balls Cereal Pouch 250g</p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R47.99</p>
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden bg-slate-50  border-2 border-gray-200 shadow-md rounded-lg w-40 h-56  ">

                    

                    <div class="w-full border-2 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRHh6864EApBr6ZAVRvxBPRHUmVZtj_LT-9V42MF9GGCxm6hq6a3qo7mjVpg8TB1gmBDuI8Ruo-jKR92dGU1Z3LSav-MmmCOt7iKSITyRzpP3MAjGq3BM4f&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10 text-ellipsis overflow-hidden ... ">
                            <p class="text-sm ">Nestle - Ricoffy Coffee 750g</p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R132.99</p>
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden bg-slate-50  border-2 border-gray-200 shadow-md rounded-lg w-40 h-56  ">

                    

                    <div class="w-full border-2 border-white h-36   rounded-b-3xl overflow-hidden  ">
                        <a href="#">
                            <img class="w-full h-full " src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRmQRcrEs2zggnFgKNhIWPfr1wDgYa2Xmokc65SJF0UFAxWgLk0dtHWeGBZqD9fcEmUK1Vfjp8d-hfpZKxSl-qqcoCl3mhMX9bTnBkexjs7k063hDRwlNd-6Q&usqp=CAE" alt="" />
                        </a>
                    </div>
                    
                    <div class="relative px-2 py-1 ">
                        <div class="relative h-10 text-ellipsis overflow-hidden ... ">
                            <p class="text-sm ">Golden Yolk Eggs 30's Large</p>
                        </div>
                        <div class=" ">
                            <p class="text-red-500 text-lg font-bold">R67.99</p>
                        </div>
                    </div>
                </div>
          
            </div>
        </div>
    </div>
</main>
<app-footer-nav></app-footer-nav>