<div id="categories" class="w-full overflow-x-auto">
    <div class="overflow-hidden min-w-max">
        <div class="grid h-full rounded-sm bg-teal-100 max-w-lg grid-cols-4 space-x-3 mx-auto font-medium  mt-3 p-2 py-4">
            <button type="button" class=" border-2 border-lime-400 bg-white  rounded-full py-2 group inline-flex flex-col items-center justify-center px-5 hover:bg-lime-400 group hover:text-white hover:border-2 hover:border-white" [routerLink]="'/userhome'">
                
                <span class="text-md text-gray-500 group-hover:text-white group"> All </span>

            </button>
            <button type="button" class=" border-2 border-red-500 bg-white rounded-full py-2 relative inline-flex flex-col items-center justify-center px-5 hover:bg-red-400 hover:border-2 hover:border-white group" [routerLink]="'/favourites'">
                
                <span class="text-md  text-gray-500 group-hover:text-white "> Dairy </span>
            
            </button>

            <button type="button" class=" border-2 border-blue-500 bg-white rounded-full py-2 relative inline-flex flex-col items-center justify-center px-5 hover:bg-red-400 hover:border-2 hover:border-white group" [routerLink]="'/favourites'">
                
                <span class="text-md  text-gray-500 group-hover:text-white "> Meat </span>
            
            </button>

            <button type="button" class=" border-2 border-pink-500 bg-white rounded-full py-2 relative inline-flex flex-col items-center justify-center px-5 hover:bg-red-400 hover:border-2 hover:border-white group" [routerLink]="'/favourites'">
                
                <span class="text-md  text-gray-500 group-hover:text-white "> Groceries </span>
            
            </button>

        <!-- <button type="button" class=" border-2 border-pink-500 bg-white rounded-full py-2 relative inline-flex flex-col items-center justify-center px-5 hover:bg-red-400 hover:border-2 hover:border-white group" [routerLink]="'/favourites'">
            
            <span class="text-md  text-gray-500 group-hover:text-white "> Burgers </span>
        
        </button> -->

        </div>
    </div>
    
</div>

